.containerTable{
    margin-top: 64px;
    overflow-x: scroll;
}
.table{
    border-collapse: collapse;
}
.table__head{
    color: #8E8E93;
}
.table__row{
    border-bottom: 1px solid lightgray;
}
.table__col{
    padding: 10px;
    max-width: 20%;
}
.table__input{
    background-color: transparent;
    width: 100%;
    padding: 5px 10px;
}
.table__btn{
    border: 0;
    padding: 10px 4px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
}
.table__btn_add{
    background-color: #169816;
    color: #ffffff;
}
.table__btn_remove{
    background-color: #b70922;
    color: #ffffff;
}
.btnContainer{
    margin-top: 40px;
    display: flex;
    width: 400px;
    justify-content: space-between;
}
